# Results of LeNet Trained on MNIST

In this notebook I display results in terms of accuracy on test data for LeNet models trained on the MNIST dataset using various regularization techniques. The LeNet model and the MNIST dataset were set up as in Hoffman 2019 (for all the models). The MNIST data is preprocessed by normalizing using mean 0.1307 and variance 0.3081. The batch size is 100. The model optimizes using SGD with momentum p = 0.9, and standard cross-entropy loss. Model parameters are initialized using Glorot initialization (See Glorot & Bengio 2010), expect for SVB regularization which uses orthogonal initialization. Models are trained with no regularization, L2 regularization, SVB regularization and Jacobian regularization with a dropout rate of p_drop = 0.5. I also train a model with Jacobian Regularization without dropout. The L2 regularization coefficient and Jacobian regularization coefficient are the same as in Hoffman 2019: l2_lmbd = 0.0005 and lambda_jacobian_reg = 0.01. For SVB regularization I use the hyperparameters svb_freq=600 and svb_eps = 0.05. The learning rate starts at 0.1, and is reduced to 0.01 and 0.001 1/3 and 2/3s into training, respectively. The models are trained for 250 epochs (150 000 SGD iterations).

### Imports and Model Loading

In [1]:
import jupyter_black
import numpy as np
import pandas as pd
import pickle
import torch
from scipy import stats
from torchsummary import summary
from tqdm import tqdm

from data_generators import data_loader_MNIST
from model_classes import LeNet_MNIST
from tools import accuracy, ModelInfo

jupyter_black.load()

In [2]:
# Device configuration
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

# Load MNIST data
train_loader, test_loader = data_loader_MNIST()

# Summary of model
summary_model = LeNet_MNIST().to(device)
summary(summary_model, (1, 28, 28))

----------------------------------------------------------------
        Layer (type)               Output Shape         Param #
================================================================
            Conv2d-1            [-1, 6, 28, 28]             156
         MaxPool2d-2            [-1, 6, 14, 14]               0
            Conv2d-3           [-1, 16, 10, 10]           2,416
         MaxPool2d-4             [-1, 16, 5, 5]               0
            Linear-5                  [-1, 120]          48,120
           Dropout-6                  [-1, 120]               0
            Linear-7                   [-1, 84]          10,164
           Dropout-8                   [-1, 84]               0
            Linear-9                   [-1, 10]             850
================================================================
Total params: 61,706
Trainable params: 61,706
Non-trainable params: 0
----------------------------------------------------------------
Input size (MB): 0.00
Forward/backward pass size (MB): 0.06
Params size (MB): 0.24
Estimated Total Size (MB): 0.30
----------------------------------------------------------------

In [3]:
# Load models
dataset = "mnist"

model_names_set = [
    "model_no_reg",
    "model_no_reg_no_dropout",
    "model_l2",
    "model_jacobi",
    "model_jacobi_no_dropout",
    "model_svb",
]
model_names = []

for i in range(5):
    for name in model_names_set:
        model_names.append(f"{name}_{i}")

models = {name: ModelInfo(name, dataset) for name in model_names}

### Accuracies

Here I calculate the accuracies of each model as a 95% confidence interval. I have trained five models of each variation that I use to calculate the CI.

In [4]:
# Dictionary to hold accuracy data
accuracy_data = {}

# Calculate accuracies with 95% CI for models
for name in model_names_set:
    accuracies = []
    for i in range(5):  # Assuming 5 versions of each model
        model_name = f"{name}_{i}"
        model = models[model_name].model
        acc = accuracy(model, test_loader, device)
        accuracies.append(acc)

    # Calculate mean accuracy
    mean_accuracy = np.mean(accuracies)

    # Calculate standard error
    std_error = stats.sem(accuracies)

    # Calculate confidence interval
    CI = std_error * stats.t.ppf((1 + 0.95) / 2, len(accuracies) - 1)

    # Store results in the data dictionary
    accuracy_data[f"{name}"] = (mean_accuracy, CI)

In [5]:
# Convert the dictionary into a DataFrame
df = pd.DataFrame.from_dict(
    accuracy_data, orient="index", columns=["Mean Accuracy", "Confidence Interval"]
)

# Convert the numbers from decimal to percentage and round to four decimal places
df = df.multiply(100).round(3)

# Create a new column that combines Mean Accuracy and Confidence Interval
df["Accuracy +/- CI (95%)"] = df.apply(
    lambda row: f"{row['Mean Accuracy']} +/- {row['Confidence Interval']}", axis=1
)

# Drop the original columns
df = df.drop(columns=["Mean Accuracy", "Confidence Interval"])

# Reset the index
df = df.reset_index().rename(columns={"index": "Model"})

display(df)

                     Model Accuracy +/- CI (95%)
0             model_no_reg       98.698 +/- 0.11
1  model_no_reg_no_dropout      98.842 +/- 0.086
2                 model_l2       99.166 +/- 0.06
3             model_jacobi       98.66 +/- 0.112
4  model_jacobi_no_dropout      98.892 +/- 0.059
5                model_svb      98.442 +/- 0.058

### Total Variation

Total variation is a measure for roughness/complexity in images. I generate 50 different images for each model to get a good mean and standard deviation, and give the results as a tabel for each model with the eight models (models with and without dropout) as rows, and the three different zoom levels as columns. The tabel contains the mean and 95 % confidence interval for the total variation for each model at each zoom level, for both isotropic and anisotropic total variation.

#### Isotropic Total Variation

In [6]:
# Load pretrained results

# Define zoom levels
zoom_levels = [0.025, 0.01, 0.001]

# Define the models
# model_names = [
#     "model_no_reg_0",
#     "model_l2_0",
#     "model_jacobi_0",
#     "model_jacobi_no_dropout_0",
#     "model_svb_0",
# ]

# Dataframe to store results
cols = pd.MultiIndex.from_product([zoom_levels, ["mean", "conf_interval"]])
df_results_isotropic = pd.DataFrame(index=model_names, columns=cols)

# Loop over the selected models
for name in tqdm(model_names):
    # Load the results
    with open(
        f"./total_variation_{dataset}_models/{name}_total_isotropic_variation.pkl",
        "rb",
    ) as f:
        df_results = pickle.load(f)

    # Copy the results to the dataframe
    for zoom in zoom_levels:
        df_results_isotropic.loc[name, (zoom, "mean")] = df_results.loc[
            name, (zoom, "mean")
        ]
        df_results_isotropic.loc[name, (zoom, "conf_interval")] = df_results.loc[
            name, (zoom, "conf_interval")
        ]

100%|██████████| 30/30 [00:00<00:00, 111.67it/s]

In [7]:
print(
    "Isotropic Total variation for three different zoom levels (mean and 95% CI for 50 generated images at each zoom level)"
)
display(df_results_isotropic)

Isotropic Total variation for three different zoom levels (mean and 95% CI for 50 generated images at each zoom level)

                                  0.025                       0.010  \
                                   mean conf_interval          mean
model_no_reg_0               9397.10752   1640.019424  18925.979529
model_no_reg_no_dropout_0   3124.085707    658.974539   8296.500406
model_l2_0                  1872.659572    473.321832   1603.012042
model_jacobi_0              9696.989582   1743.480779  16636.118235
model_jacobi_no_dropout_0   3239.269016    589.626918   7118.733407
model_svb_0                 1011.282659    268.295487   2021.521467
model_no_reg_1             10802.936089   1812.477078  13164.218153
model_no_reg_no_dropout_1   3543.187894    673.046513   5829.650145
model_l2_1                  1884.946385    381.038664    1555.54639
model_jacobi_1              8449.297505   1466.668468    9450.64785
model_jacobi_no_dropout_1   2655.748935     689.59338   7086.289034
model_svb_1                 1173.045075     384.66414   2194.082245
model_no_reg_2              4973.873534   1289.366941  17785.193789
model_no_reg_no_dropout_2   3994.497639    716.946412   7539.962552
model_l2_2                  1847.384727    396.927242   1895.090495
model_jacobi_2              8255.418067   1624.256957  10794.901942
model_jacobi_no_dropout_2   3010.911888    676.674848   6415.291596
model_svb_2                 1895.660934    488.528652   3183.103351
model_no_reg_3             10517.952085   2138.351443  20499.784134
model_no_reg_no_dropout_3   2748.737049    588.807065   6732.502937
model_l2_3                  2535.188123    556.919598    4056.51978
model_jacobi_3             12545.185898   1160.311551  11316.730161
model_jacobi_no_dropout_3     2795.2954    614.348526   6568.532079
model_svb_3                 1405.849444    330.270368   2483.356352
model_no_reg_4             10730.165223   2460.654084  22952.031118
model_no_reg_no_dropout_4   2049.195631    618.769219   7708.223593
model_l2_4                  1907.007496    478.665395     3340.3785
model_jacobi_4             10107.744282   2337.973166  22941.549955
model_jacobi_no_dropout_4   2988.029358    581.146665   5727.451545
model_svb_4                 1162.924134    367.639775   2386.824514

                                                0.001
                          conf_interval          mean conf_interval
model_no_reg_0              1783.770986   22686.04441    2174.51603
model_no_reg_no_dropout_0    993.379102  21668.074487     2298.8843
model_l2_0                   413.092615    432.855148     164.06803
model_jacobi_0              2089.201682  20336.666596   1643.048693
model_jacobi_no_dropout_0    896.196344  15433.842996   2180.996834
model_svb_0                  306.507966   4872.970497    468.738745
model_no_reg_1              1995.561014   8091.816127   1183.622132
model_no_reg_no_dropout_1    1024.30521  18316.354124   2236.788994
model_l2_1                   304.526018    341.913251     180.73668
model_jacobi_1              1385.333222    4652.56101    949.532128
model_jacobi_no_dropout_1    751.616747  21671.276215   1724.736831
model_svb_1                   292.14519   2740.501144    367.131011
model_no_reg_2              2237.908353  32943.054795   1982.232028
model_no_reg_no_dropout_2    779.361271  18703.517639    1671.35513
model_l2_2                   363.555966   1431.110653    375.425175
model_jacobi_2              1967.510959   3210.570785    807.816926
model_jacobi_no_dropout_2    686.587094  15392.582303   1408.043634
model_svb_2                  406.068888   5743.867735    551.489488
model_no_reg_3              2146.405799  21786.315133   2168.883177
model_no_reg_no_dropout_3    714.400164   18421.89869    1958.04492
model_l2_3                   453.057439    8476.35314     654.99931
model_jacobi_3              1374.057255   7007.510835    1428.63618
model_jacobi_no_dropout_3    752.721466  17058.705955   1406.142214
model_svb_3                  267.779508   3122.799229    366.711235
model_no_reg_4               2468.80489  39517.767285   2046.659945
model_no_reg_no_dropout_4    966.371417   26039.34474    1850.09559
model_l2_4                   425.732986   8113.590568    807.171304
model_jacobi_4              2062.719517  43796.945504   2314.901693
model_jacobi_no_dropout_4    604.970414   8613.847811   1237.791346
model_svb_4                  325.898937   3731.187049    439.782784

#### Anisotropic Total Variation

In [8]:
# Load pretrained results

# Define zoom levels
zoom_levels = [0.025, 0.01, 0.001]

# Define the models
# model_names = [
#     "model_no_reg_0",
#     "model_l2_0",
#     "model_jacobi_0",
#     "model_jacobi_no_dropout_0",
#     "model_svb_0",
# ]

# Dataframe to store results
cols = pd.MultiIndex.from_product([zoom_levels, ["mean", "conf_interval"]])
df_results_anisotropic = pd.DataFrame(index=model_names, columns=cols)

# Loop over the selected models
for name in tqdm(model_names):
    # Load the results
    with open(
        f"./total_variation_{dataset}_models/{name}_total_anisotropic_variation.pkl",
        "rb",
    ) as f:
        df_results = pickle.load(f)

    # Copy the results to the dataframe
    for zoom in zoom_levels:
        df_results_anisotropic.loc[name, (zoom, "mean")] = df_results.loc[
            name, (zoom, "mean")
        ]
        df_results_anisotropic.loc[name, (zoom, "conf_interval")] = df_results.loc[
            name, (zoom, "conf_interval")
        ]

100%|██████████| 30/30 [00:00<00:00, 119.94it/s]

In [ ]:
print(
    "Anisotropic Total variation for three different zoom levels (mean and 95% CI for 50 generated images at each zoom level)"
)
display(df_results_anisotropic)

Anisotropic Total variation for three different zoom levels (mean and 95% CI for 50 generated images at each zoom level)

                              0.025                   0.010                \
                               mean conf_interval      mean conf_interval
model_no_reg_0              13213.5   3549.131109   29129.4   3332.900566
model_no_reg_no_dropout_0   4215.88   1042.936626  11314.06   1245.593248
model_l2_0                  3125.58    716.259516    4550.2    554.719388
model_l2_no_dropout_0       2440.58    540.681529    4790.3     530.38616
model_jacobi_0             11567.86   2211.607504   14935.9    1994.71354
model_jacobi_no_dropout_0   5589.24    656.469237   6367.68   1190.711972
model_svb_0                 2359.96    690.635265    3241.6    427.279752
model_svb_no_dropout_0      1811.18    577.327569    4095.0     507.40284
model_jacobi_and_svb_0      1700.58    437.810365   2869.44    386.940485
model_all_0                 2232.64    592.150483   2787.84    546.191794
model_jacobi_and_l2_0       2833.14    572.866507    1910.7    410.804639
model_svb_and_l2_0          2798.66     586.71475    3909.1    501.305186

                              0.001
                               mean conf_interval
model_no_reg_0             39373.74   2579.372207
model_no_reg_no_dropout_0  35867.64   2946.973752
model_l2_0                 10357.86   1017.380333
model_l2_no_dropout_0      10509.82    975.234232
model_jacobi_0             11271.68   1167.385573
model_jacobi_no_dropout_0   4999.06   1482.457164
model_svb_0                 3671.46    702.099279
model_svb_no_dropout_0     11685.98   1326.283256
model_jacobi_and_svb_0      8130.78    588.493205
model_all_0                  3932.5    461.501988
model_jacobi_and_l2_0         266.6    107.573266
model_svb_and_l2_0           6236.3    581.986323